
@{
    Layout = null;
}


<html>
<head>
    <link href="~/Student_assets/css/Error404.css" rel="stylesheet" />
    <script src="~/Student_assets/js/Error404.js"></script>
</head>
<body>
    <div class="content">
        <canvas class="snow" id="snow"></canvas>
        <div class="main-text">
            <h1>Error 404<br />The page you are looking for might have been removed</h1><a class="home-link" href="@Url.Content("/trang-chu")">Hitch a ride back home.</a>
        </div>
        <div class="ground">
            <div class="mound">
                <div class="mound_text">404</div>
                <div class="mound_spade"></div>
            </div>
        </div>
    </div>
</body>
</html>
