@using Cap24Team3.Models;
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    var Role = ViewBag.Role as AspNetRole;
    var Users = ViewBag.Users as SelectList;
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <style>
        body {
            font-family: "Trirong", serif;
        }
    </style>
</head>
<body>
    <h2 class="page-title" style="font-family:Roboto">Thêm tài khoản vào Role @Role.Name</h2>

    @using (Html.BeginForm())
    {
                <div class="col-10 d-flex align-items-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h5>
                        User &emsp;
                    </h5>

                    <div class="col-7 text-right">
                        <div class="input-group">
                            <input class="col-6" id="UserId" name="UserId" />
                        </div>
                    </div>
                </div>
                <br />
                        <div class="col-8">
                            <button type="submit" value="Add" class="btn btn-dark">Thêm</button>
                        </div>
                        <div class="col-8">
                            <br />
                            <a href="@Url.Action("Index", "AspNetRoleFacultys")">Quay lại</a>
                        </div>
    }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

