
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    var listtk = Session["chitiet"] as List<Cap24Team3.Areas.Faculty.Controllers.chitietthongke>;
}
<br>
<h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Danh sách sinh viên đã đăng ký môn @TempData["tenhp"]</h4>
<br>
<div class="table-reponsive">
    <table id="table1" class="table table-hover display" style="width: 100%;">
        <thead>
            <tr>
                <th>MSSV</th>
                <th>Họ tên</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listtk)
            {
                if (item.TenHP == TempData["tenhp"] as string && item.HocKy == TempData["hk"] as string)
                {
                    <tr>
                        <td>@item.MSSV</td>
                        <td>@item.tensv</td>
                        <td>@item.mail</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script src="https://kit.fontawesome.com/30492122d1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>

