
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<br>
<h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Danh sách sinh viên đã đăng ký môn Triết học Mác Lênin</h4>
<br>
<div class="table-reponsive">
    <table id="table1" class="table table-hover display" style="width: 100%;">
        <thead>
            <tr>
                <th>Họ</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Khóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nguyễn Duy</td>
                <td>Phương</td>
                <td>phuong.187pm20547@vanlanguni.vn</td>
                <td>Khóa 24</td>
            </tr>
            <tr>
                <td>Châu Chương</td>
                <td>Thuận</td>
                <td>thuan.187pm06720@vanlanguni.vn</td>
                <td>Khóa 24</td>
            </tr>
            <tr>
                <td>Đinh Trường</td>
                <td>An</td>
                <td>an.207ct09922@vanlanguni.vn</td>
                <td>Khóa 26</td>
            </tr>
            <tr>
                <td>Nguyễn Hoàng Đức</td>
                <td>Thuận</td>
                <td>thuan.2174802010031@vanlanguni.vn</td>
                <td>Khóa 27</td>
            </tr>
            <tr>
                <td>Nguyễn Lê Ngọc</td>
                <td>Hân</td>
                <td>han.197ct09687@vanlanguni.vn</td>
                <td>Khóa 25</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://kit.fontawesome.com/30492122d1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>

